{{#extends 'base'}}

{{#block 'content'}}

    <h1>Employees</h1>

    <a href="/employees/register" class="btn btn-primary mt-3">Add new employee</a>
    
    <div class="d-block d-lg-none mt-5">
        <table class="table mt-5 border-radius">
            <thead>
                <tr>
                    <th class="p-4">Role</th>
                    <th class="p-4">Info</th>
                    <th class="p-4"></th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr>
                    <td class="p-4">
                        {{this.role.name}}
                    </td>
                    <td class="p-4">
                        <b>{{this.username}}</b>
                        <br>{{this.first_name}} {{this.last_name}}
                        <br><small class="text-muted">{{this.email}}
                    </td>
                    <td class="p-4">
                        <a href="/employees/{{this.id}}/delete" class="icon-btns delete-btn d-flex flex-column align-items-center">
                            <i class="fa-solid fa-circle-xmark"></i>Remove
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="d-none d-lg-block mt-5">
        <table class="table mt-5 border-radius">
            <thead>
                <tr>
                    <th class="p-4">ID</th>
                    <th class="p-4">Username</th>
                    <th class="p-4">Name</th>
                    <th class="p-4">Email</th>
                    <th class="p-4">Role</th>
                    <th class="p-4"></th>
                </tr>
            </thead>
            <tbody>
                {{#each employees}}
                <tr>
                    <td class="p-4">{{this.id}}</td>
                    <td class="p-4">{{this.username}}</td>
                    <td class="p-4">{{this.first_name}} {{this.last_name}}</td>
                    <td class="p-4">{{this.role.name}}</td>
                    <td class="p-4">{{this.email}}</td>
                    <td class="p-4">
                        <a href="/employees/{{this.id}}/delete" class="icon-btns delete-btn d-flex flex-column align-items-center">
                            <i class="fa-solid fa-circle-xmark"></i>Remove
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

{{/block}}

{{/extends}}