{{#extends 'base'}}

{{#block 'content'}}

    <h1>Hi, {{profile.username}}!</h1>

    <ul>
        <li>Name: {{profile.first_name}} {{profile.last_name}}</li>
        <li>Email: {{profile.email}}</li>
        <li>Role: {{profile.role.name}}</li>
    </ul>

    <a href="/profile/update" class="btn btn-primary">Edit Profile</a>
    <a href="/logout" class="btn btn-danger mt-3 mt-md-0">Log out</a>

{{/block}}

{{/extends}}