{{#extends 'base'}}

{{#block 'content'}}

    <h1>{{order.length}} Enquiries</h1>


    <form method="GET" class="search-form mt-3">
        {{{searchForm}}}
        <input type="submit" class="btn btn-primary" value="Search">
    </form>

    
    <div class="d-block d-lg-none mt-5">
        <table class="table border-radius" style="border-radius:15px">
            <thead>
                <tr>
                    <th class="p-3">Enquiry No</th>
                    <th class="p-3">Name</th>
                    <th class="p-3">Email</th>
                    <th class="p-3">Reason</th>
                    <th class="p-3">Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#each order}}
                <tr>
                    <td class="p-3 text-capitalize">
                        <b>#{{this.id}}</b>
                    </td>
                    <td class="p-3">{{this.shipping.name}}</td>
                    <td class="p-3 text-center">
                        <a class="icon-btns yellow edit-btn d-flex flex-column align-items-center" data-bs-toggle="collapse" href="#tab{{this.id}}" role="button">
                            <i class="fa-solid fa-circle-plus" style="font-size:35px"></i>
                        </a>
                    </td>
                    <td class="p-3">
                        <a href="/orders/{{this.id}}/update" class="icon-btns edit-btn d-flex flex-column align-items-center">
                            <img src="/images/edit2.svg" style="width:35px;">
                        </a>
                    </td>
                </tr>
                <tr class="collapse multi-collapse" id="tab{{this.id}}">
                    <td colspan="4" class="extended-info p-3 text-capitalize">
                        <b>Items: </b>{{this.items_text}}
                        <br>
                        <b>Total: </b>${{this.amount}}
                        <br>
                        <b>Payment Status: </b>{{this.payment_status}}
                        <br>
                        <br>
                        <b>Name:</b> {{this.user.first_name}} {{this.user.last_name}}
                        <br>
                        <b>Address:</b> {{this.user.address_line_1}}, {{this.user.address_line_2}}, {{this.user.country}} {{this.user.postal_code}}
                        <br>
                        <b>Contact No.:</b> {{this.user.phone_number}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
    
    <div class="d-none d-lg-block mt-5">
        <table class="table border-radius">
            <thead>
                <tr>
                    <th class="p-4">Enquiry No.</th>
                    <th class="p-4">Name</th>
                    <th class="p-4">Email</th>
                    <th class="p-4">Reason</th>
                    <th class="p-4">Message</th>
                    <th class="p-4">Status</th>
                    <th class="p-4"></th>
                </tr>
            </thead>
            <tbody>
                {{#each order}}
                <tr>
                    <td class="p-4">#{{this.id}}</td>
                    <td class="p-4">{{this.name}}</td>
                    <td class="p-4">{{this.email}}</td>
                    <td class="p-4"> {{this.reason.name}}</td>
                    <td class="p-4 text-center">
                        <a class="icon-btns yellow edit-btn d-flex flex-column align-items-center" data-bs-toggle="collapse" href="#tab{{this.id}}" role="button">
                            <i class="fa-solid fa-circle-plus"></i>
                            View Message
                        </a>
                    </td>
                    <td class="p-4 text-capitalize">{{this.estatus.name}}</td>
                    <td class="p-4 text-center">
                        <a href="/orders/{{this.id}}/update" class="icon-btns edit-btn d-flex flex-column align-items-center">
                            <img src="/images/edit2.svg" alt="">
                            Update
                        </a>
                    </td>
                </tr>
                <tr class="collapse multi-collapse" id="tab{{this.id}}">
                    <td colspan="2" class="extended-info-address p-3 text-center">
                        Message
                    </td>
                    <td colspan="7" class="extended-info p-3">
                        {{this.message}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

{{/block}}

{{/extends}}