{{#extends 'base'}}

{{#block 'content'}}

    <h1>Add new sunscreen</h1>

    <form method="POST" class="sunscreen-form mb-5">
        
        <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
        
        {{!-- for uploading images --}}
        <div class="mt-3 float-left text-center">
            <img src="" style="display:none" id="uploaded-image">
            <a class="btn btn-primary mt-3" id="upload-widget">Add product image</a>
        </div>
        
        <div class="float-right">
            {{{form}}}
            <input type="submit" value="Add Product" class="btn btn-primary mt-3"/ >
        </div>

    </form>


{{/block}}

{{/extends}}

{{#block 'js'}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

    <script>
        async function generateSignature(callback, params_to_sign){
            // get signature from express application
            let response = await axios.get('/cloudinary/sign',{
                'params': {
                    'params_to_sign': params_to_sign
                }
            })
            callback(response.data);
        }

        let cloudinaryConfig = {
            'cloudName': "{{cloudinaryName}}",
            'apiKey': "{{cloudinaryApiKey}}",
            'uploadPreset': "{{cloudinaryUploadPreset}}",
            'uploadSignature': generateSignature
        }

        const myWidget = cloudinary.createUploadWidget(cloudinaryConfig, function(error,result){
            
            if (!error && result && result.event == 'success'){
                // console.log(result)
                let url = result.info.secure_url;
                
                document.getElementById("id_image_url").value = url;
                document.getElementById("uploaded-image").src = url;
                document.getElementById("uploaded-image").style = "display:block;";
            }
        });

        document.getElementById("upload-widget").addEventListener('click', function(){
            myWidget.open();
        })

    </script>

{{/block}}