{{#extends 'base'}}

{{#block 'content'}}

    <h1>All sunscreens here!</h1>

    <a href="/products/create" class="btn btn-primary">Add New Sunscreen</a>

    
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Description</th>
            <th>Skin Types</th>
            <th>Ingredients</th>
            <th>Expiry</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.brand.name}}</td>
            <td>{{this.name}}</td>
            <td>{{this.type.name}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>
                {{#each this.skinTypes}}
                    <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}</td>
            </td>
            <td>{{this.ingredients}}</td>
            <td>{{this.expiry}}</td>
            <td>{{this.status.name}}</td>
            <td>
                <a href="/cart/{{this.id}}/add" class="btn-sm btn-success">Add to cart</a>
                <a href="/products/{{this.id}}/update" class="btn-sm btn-primary">Edit</a>
                <a href="/products/{{this.id}}/delete" class="btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/block}}

{{/extends}}